@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

body{
  margin: 0;
}

header{
  position: fixed;
  display: flex;
  width: 100%;
}

a{
  text-decoration: none;
  color: black;
}

.bckg1{
  background-image: url('../img/bckg1.png');
  background-position: top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.bckg1 h1{
  margin: 0;
  padding-top: 20%;
}

header h1{
  font-family: 'Allura', cursive;
  font-weight: lighter;
  font-size: 2.5em;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

header a{
  font-family: "Open Sans Light", sans-serif;
  font-size: 1.5em;
  margin-top: 15px;
}

body > header > a:nth-child(1){
  margin-left: auto;
}

body > header > a:nth-child(3){
  margin-right: auto;
}